<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LNNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF14C5E91C906616000F4EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF14C6021C906616000F4EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF14C60D1C906616000F4EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
