<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LNNetwork-Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LNNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LNNetworkDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF362F5A1F101651002F7CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF362F631F101651002F7CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF362F751F101685002F7CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF362F7F1F101702002F7CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF362F971F101702002F7CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF362FA21F101702002F7CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
